html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    background-color: #806C70;
    color: white;
}

#container  {
    display: flex;    
}

#sidebar    {
    display: flex;
    flex-direction: column;
    background-color: #3E2029;
    align-items: center;
    width: 20%;
    height: 100vh;
    position: fixed;
}

#content    {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    height: 100%;
    width: 100%;
}

#banner {
    width: 100%; 
}

#pic    {
    width: 50%;
    margin-top: 30px;
    border: 1px solid white;
    border-radius: 27px;
}

#nav    {
    margin-top: 10px;
    padding-top: 20px;
    margin-bottom: 0;
    padding-bottom: 15px;
    font-family: 'Caveat', cursive;   
}

.nav-buttons  {
  font-size: 4vmin;
  padding: 3.5vh;
}

a{
    text-decoration: none;
    color: #DCB54C;
    padding: 0 10px;
}

.social-links a  {
    color: white;
    font-size: 3.5vh;
}

#content .social-links  {
    align-self: center;
}

.code-link:hover, .link:hover {
    font-size: 3vmin;
    text-decoration: underline;
    color: #DCB54C;
    text-shadow: floralwhite 1px 1px 1px;
}

.nav-buttons:hover  {
    font-size: 4.2vmin;
    text-decoration: underline;
    color: #DCB54C;
    text-shadow: floralwhite 1px 1px 1px;
}

h1{
    font-size: 5vmin;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 0 25px 0 25px;
    font-family: 'Caveat', cursive;
}

h2{
    font-size: 4vmin;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 0 25px 0 25px;
    font-family: 'Caveat', cursive;
}

p{
    font-size: 2.5vmin;
    text-align: justify;
    margin-bottom: 20px;
    padding: 0 35px 0 25px;
    font-family: 'Space Mono', monospace;
    line-height: 35px;
    font-variant-ligatures: none;
    overflow: hidden;
}

em{
    font-style: italic;
}

#coming_soon    {
    text-align: center;
    font-size: 320px;
}

#contact_form   {
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    background-color: #3E2029;
    align-self: center;
    border-radius: 27px;
    padding: 20px 0 20px 0;
}

.input_fields    {
    margin: 5px 0 5px 35px;
    width: 40vw;
    border-radius: 12px;
    height: 4vh;    
}

.form_labels    {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

#description    {
    border-radius: 12px;
    width: 40vw;
    margin: 5px 0 5px 35px;
    height: 12vh;
}

#submit {
    margin-top: 30px;
    background-color: white;
    color: #3E2029;
    border-radius: 27px;
    padding: 5px;
}

.form_intro {
    font-size: 2.5vmin;
    text-align: center;
    margin-bottom: 10px;
    padding: 0 14% 0 14%;
    font-family: 'Space Mono', monospace;
    line-height: 35px;
    font-variant-ligatures: none;
}

.contact-social-links   {
    align-self: center;
}

#freelance  {
    font-size: 3vmin;
    text-align: center;
    margin-bottom: 10px;
    padding: 0 35px 0 25px;
    font-family: 'Space Mono', monospace;
    line-height: 35px;
    font-variant-ligatures: none;
    background-color: #3E2029;
    color: white;
    border-radius: 27px;
    margin: 10px;
}

.project-block    {
    display: flex;    
    margin: 20px;
    height: 33vh;
    background-color: #3E2029;
    border-radius: 27px;
}

.project-img    {
    height: 25vh;
    border-radius: 27px;
}

.img-block    {
    display: flex;
    flex-direction: column;
    padding: 10px 5px 10px 5px;
}

.project-stack  {
    display: flex;
    justify-content: center;
    font-size: 4vh;
    margin-top: 5px;    
}

.description-block  {
    display: flex;
    flex-direction: column;
}

.code-link  {
    align-self: center;
    padding-bottom: 4px;

}

.project-title  {
    align-self: center;
}

.icon {
    padding: 0 10px 0 10px;
    color: white;
}

.project-title, .project-description    {
    color: white;
}